<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title> Error</title>
</head>

<body style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh; text-align: center;">
    <div class="container">
        <h1>Oops! URL Doesnt Exist</h1>
       <!-- <img src="{{ url_for('static', filename='error.png') }}"  style="width: 40px; height: 40px;"><br> -->
        <a href="/">Go back to the home page</a>
    </div>
    <script src="script.js"></script>
</body>

</html>