<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{{ url_for('static', filename='style.css') }}"> 
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700" rel="stylesheet">
    <script src="https://kit.fontawesome.com/dfaa36d400.js" crossorigin="anonymous"></script>
    <title> URL Shortner</title>
</head>
<body>
    <div class="container">
        <h1>URL Shortener</h1>
        <form action="/shorten" method="post">
            <div class="form-group">
                <label for="long_url">Enter a long URL:</label>
                <input type="url" id="long_url" name="long_url" placeholder="Drop Your URL" required>
            </div>
            <div class="form-group">
                <label for="short_url">Enter a short name:</label>
                <input type="text" id="suggested_name" name="suggested_name" placeholder="Suggest A Name" class="short-input">
                {% if error %}
                <p class="error">{{ error }}</p>
                {% endif %}
            </div>
            <button type="submit">Shorten URL</button>
        </form>
        
        <form action="/show" method="get" style="text-align: right;">
            <div style="display: inline-block; position: relative; top: -2.7em;">
            <button type="submit">Show All Data</button>
            </div>
        </form>

        {% if short_url %}
        <table class="data-table">
            <thead>
                <tr>
                    <th>Short URL</th>
                    <th>QR Code</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" id="short_url" name="short_url" value="{{ short_url }}" readonly>
                    <button onclick="copyShortUrl()"><i class="fa-solid fa-link"></i></button></td>
                    <td>
                        <div class="qr-code-container">
                            <img id="qrCodeImg" src="data:image/png;base64,{{ qr_code }}" alt="QR Code"><button onclick="downloadQRCode()"><i class="fa-solid fa-download"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        {% endif %}


    </div>
    <script src="script.js"></script>
    <script>
        function copyShortUrl() {
            var copyText = document.getElementById("short_url");
            copyText.select();
            copyText.setSelectionRange(0, 99999); /* For mobile devices */
            document.execCommand("copy");
            alert("Copied the URL: " + copyText.value);
        }

        function downloadQRCode() {
                // Get the QR code image data
                var qrCodeData = document.getElementById('qrCodeImg').src;

                // Create an anchor element
                var downloadLink = document.createElement('a');
                downloadLink.href = qrCodeData;

                // Set the download attribute to specify the filename
                downloadLink.download = 'qrcode.png';

                // Append the anchor element to the body
                document.body.appendChild(downloadLink);

                // Trigger a click event on the anchor element
                downloadLink.click();

                // Remove the anchor element from the DOM
                document.body.removeChild(downloadLink);
            }
    </script>
    
</body>
</html>